@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@layer base {
    @font-face {
        font-family: 'Source Code Pro';
        font-weight: 100 900;
        font-style: normal;
        font-display: swap;
        src: url(../fonts/SourceCodePro.ttf) format("truetype"),
    }
    @font-face {
        font-family: 'Jersey';
        font-weight: 100 900;
        font-style: normal;
        font-display: swap;
        src: url(../fonts/Jersey10.ttf) format("truetype"),
    }
        html {
            @apply text-slate-600;
        }
}
@layer components{
    .btn_nav{
        @apply text-slate-600 text-center self-center font-semibold dark:text-white text-sm relative border-l border-t border-white hover:border-slate-300 hover:dark:border-slate-950 dark:border-slate-600 backdrop-blur hover:backdrop-blur-none shadow-md hover:shadow-inner rounded-full flex justify-center px-4 py-1 dark:hover:text-emerald-300 hover:text-violet-500;
    }
    
}