@import "tailwindcss";
@custom-variant dark (&:where([data-theme=light], [data-theme=dark] *));

@theme {
    --breakpoint-sm: 37.5rem;
    --breakpoint-md: 45.5rem;
    --breakpoint-lg: 61.5rem;
    --breakpoint-xl: 70rem;
    --breakpoint-2xl: 80rem;
}
@font-face {
  font-family: orbitron;
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("../fonts/Orbitron-medium.woff2") format("woff2");
}
@font-face {
  font-family: code;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/SourceCodePro.woff2") format("woff2");
}

    html {
        @apply text-slate-600 dark:text-white;
    }

h1,h1 > span,h2,h3,h4,h5,h6,a,button {
  font-family: orbitron, sans-serif;
}

p,span,label,li,td,th {
  font-family: code, monospace;
}


    .btn_nav{
        @apply text-slate-600 text-center self-center font-semibold dark:text-white text-base md:text-sm relative md:border-l md:border-t border-white hover:border-slate-300 hover:dark:border-slate-950 dark:border-slate-600 backdrop-blur hover:backdrop-blur-none flex justify-center px-4 py-1 dark:hover:text-emerald-300 hover:text-lime-500 mb-4 md:mb-0;
    }
    /*Form*/
        .btnError{ 
            @apply bg-slate-600 dark:bg-slate-600 duration-500; 
        }
        .btnSuccess{ 
            @apply dark:bg-emerald-300 bg-lime-500 dark:text-slate-600 text-white duration-500 cursor-pointer; 
        }
        input,textarea {
            @apply bg-white dark:bg-slate-600 p-2 dark:text-white lg:w-80;
        }
        .error {
            @apply outline outline-2 outline-rose-500;
        }
        .success {
            @apply outline outline-2 outline-emerald-300;
        }
        .link{
            @apply w-fit h-fit opacity-60 hover:opacity-100 duration-500 absolute top-7 right-7 hover:rotate-45;
        }
        .card{
        @apply relative w-full flex flex-col h-fit gap-3 p-8 border-l border-t  border-slate-600 backdrop-blur-sm bg-white dark:bg-slate-600 ;
        }

/*******************************************************************************
 *  CARGA STYLE
 ******************************************************************************/
/* ANIMACIONES GENERALES */
.fadeInUp {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.fadeInUp.visible {
    opacity: 1;
    transform: translateY(0);
}

/* EFECTO DE ESCRITURA */
.typewriter p {
    overflow: hidden;
    border-right: 0.15em solid orange;
    white-space: nowrap;
    letter-spacing: 0.075em;
    animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

/* TRANSICIONES DE IMÁGENES */
#carles-image-light,
#carles-image-dark {
    transition: opacity 500ms ease;
}

#carles-image-dark {
    opacity: 0;
}
.tooltip {
    animation: tooltipAnimation 0.3s ease-out forwards;
}

/* ANIMACIÓN DE TOOLTIP */
@keyframes tooltipAnimation {
    from {
        opacity: 0;
        transform: translateY(1.5rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}



/* ANIMACIÓN DE EFECTO DE ESCRITURA */
@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

/* EFECTO DEL CURSOR EN EL TYPEWRITER */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: orange;
    }
}
   